	


/*
	Esquema CSS
	
	Por Javier Martínez
	
	Actualización 30 / 06 / 2019


	
	
	Basado en:
	
		siimple
			https://www.siimple.xyz/
			
		milligram
			https://milligram.io/
			
		Flusk
			https://github.com/technext/Flusk
	
*/




/*
	Elementos
*/

html {  
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin : 0px;
  padding: 0px;
  letter-spacing: .01em;
  line-height   : 1.6;
}




input [disabled] {
  cursor: default;
  opacity: .5;
}

*       { 
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
       -o-box-sizing: border-box;
          box-sizing: border-box; 
}
*       {  -o-transition: all 2s ease;   -ms-transition: all 2s ease;   -moz-transition: all 2s ease;   -webkit-transition: all 2s ease;   transition: all 2s ease;  }
*:hover {  -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}




img { max-width: 100%;}

h1, h2, h3, h4, h5 h6 {	
	padding: .4em;
	
}



/*
	Clases
*/

.redondeado   { 
    -webkit-border-radius: 0.3em;	
	   -moz-border-radius: 0.3em;	
	    -ms-border-radius: 0.3em;	
	     -o-border-radius: 0.3em;	
	        border-radius: 0.3em;
}
.transparente { background-color: transparent; }


.centrado_unico > *,
.izquierda    { text-align: left;	  }
.derecha      { text-align: right;	}
.todocentrado *,
.centrado_unico,
.centrado     { text-align: center;	}
.centrado_unico > * {
	margin-left : auto;
	margin-right: auto;	
}

.padding { padding: 20px; }
.margin  { margin : 20px; }
.frase   { white-space:nowrap; }
.todogrande  ,
.todogrande *,
.grande  { font-size: large;   }
.todoxgrande *,
.xgrande { font-size: x-large; }



.encabezado {
	width: 100%;  
  margin : 0px;
	padding: 1em 2em;
}


.encabezado h1, 
.encabezado h2 {
  vertical-align: middle;	
	margin: 2px
}
.encabezado .icono svg {
	height: 3em;;
	vertical-align: middle;	
}



.encabezado svg+h1 {	
	display: inline-block;	
}



.cuerpo,
.seccion {
	margin : 0px;	
	padding: 3vw 5vw;	
}


.panel,
.contenido,
.bloque {				
	padding: 1vw;
	margin : 1vw;
}






.panel p:first-child {
  font-weight:bold;	
}

.panel {
  
	padding: 0px;
}

.panel p {		
	margin: 0px;
	padding: 1em 2em
}

.panel p:first-child {  
  
  
	
}


.panel p:not(:first-child) {
  
    
}


.pie {
	padding   : 5vw;
	margin-top: 4vw;
}

.pie svg {
	height: 2.5ex;
	vertical-align: middle;
}

.pie p {
    margin: 1vw;
}







/* espaciado básico */

.formulario input:not([type=checkbox]),
.formulario select, 
.formulario textarea,
.mensaje,
.boton {
	margin : 0.2em;
	padding: 0.5em 1.5em;
	display: inline-block;
	vertical-align: middle;
} 
.formulario input[type=checkbox]{
	margin : 0.2em;	
}







/*
	Organización de contenidos
*/



.tablaflexible,
.tabla {
	display: table;
	width  : 100%;	
	
	border-spacing: 2vw;		
}

.tabla {
	table-layout: fixed;
}

.fila,
.tabla > *
{	display: table-row;  }


.columna,
.tabla > * > *
 {
	display: table-cell;
	vertical-align: top;	
	padding:  1vw;
	margin:  1vw;	
}












/*
	Diseño de Botones
*/


.formulario input[type="submit"]:not([disabled]),
.boton {	  
  border : 1px solid;
  cursor : pointer;  
  text-align : center;
  vertical-align : middle;
  text-decoration: none;
  white-space:nowrap;
	
}

.formulario input[type="submit"]:not([disabled]) svg,
.boton svg { 
  height: 2.5ex;
  margin-right: .5em;
  vertical-align: middle;
}





.formulario input[type="submit"]:hover:not([disabled]),
.boton:hover:not([disabled]) { 
	
	-webkit-box-shadow: 2px 2px 2px #0008,	inset 1px 1px 2px #eee8; 	
	   -moz-box-shadow: 2px 2px 2px #0008,	inset 1px 1px 2px #eee8; 
	    -ms-box-shadow: 2px 2px 2px #0008,	inset 1px 1px 2px #eee8; 
	     -o-box-shadow: 2px 2px 2px #0008,	inset 1px 1px 2px #eee8; 
	        box-shadow: 2px 2px 2px #0008,	inset 1px 1px 2px #eee8;
 }

.formulario input[type="submit"]:active,
.boton:active { 
	-webkit-box-shadow: inset 1px 1px 3px #000; 
	   -moz-box-shadow: inset 1px 1px 3px #000; 
	    -ms-box-shadow: inset 1px 1px 3px #000; 
	     -o-box-shadow: inset 1px 1px 3px #000; 
	        box-shadow: inset 1px 1px 3px #000; 
	}


/*



/*
	Botones transparentes
*/

.boton.claro:hover, 
.boton.transclaro:hover {
	color: #fff;
	border-color: #fff;
}

.boton.oscuro:hover,	
.boton.transoscuro:hover {
	color: #000;
	border-color: #000;
}
	
.boton.rojo:hover {  
	color: #fff;
	background-color: #f33;
	background-color: #f33;
}

.boton.lila:hover {
	color: #fff;
	border-color: #a5f;
	background-color: #a5f;
}

.boton.negro:hover {
  color: #000; 
  border-color: #000;
  background-color: #fff;
}
.boton.blanco:hover {
  color: #fff; 
  border-color: #000;
  background-color: #000;
}
.boton.verde:hover {  
	background-color: #2a5 ;
	border-color: #295;
	color: #fff;
}


.advertencia,
.mensaje {		
	color: #a44;	
	background-color: #ffd; 	
	color: #c85;
	border: solid 1px; 
	-webkit-border-radius: 5px;	
	   -moz-border-radius: 5px;	
	    -ms-border-radius: 5px;	
	     -o-border-radius: 5px;	
	        border-radius: 5px;
}



	
/*
	Esquema de colores
*/

.error,
.rojo {
	color: #a55;
	background-color: #fcc;    
}

.verde {
	background-color: #dfd;	
	color: #484;
}


.advertencia,
.amarillo {
	background-color: #ffd; 	
	color: #c85;
}

.azul {
	color: #3a87ad;
	background-color: #cee; 
}

.lila {
	color: #eee;
	border-color: #95d;
	background-color: #95d;
}

.lilafuerte {
	color: #eee;
	border-color: #95d;
	background-color: #95d;
}


.rojofuerte,
.boton.rojo { 
	color: #eee;
	border-color: #d33;
	background-color: #d33;
}

.verdefuerte,
.boton.verde {
	background-color: #295;
	border-color: #295;
	color: #fff;
}


.negro {
  color: #fff; 
  border-color: #000;
  background-color: #000;
}

.blanco {
  color: #000; 
  border-color: #000;
  background-color: #fff;
}


.transclaro {    
	color: #aaa;
	border-color: #888;
	background-color: transparent;
}
.transoscuro {    
	color: #333;
	border-color: #aaa;
	background-color: transparent;
}



.claro {    
	color: #ddd;
	border-color: #ddd;
}

.oscuro {    
	color: #555;
	border-color: #aaa;
}




.coloreado:nth-child(odd)  { background-color: #ddd; }
.coloreado:nth-child(even) { background-color: #eee; }






/*
	Etiqueta <TABLE>
*/



.table table,
.table {  width: 100%; }

.table th {
  color: #fff;
  background-color:  #777;
  padding: 1em;  
  -webkit-border-radius: 5px;	
	   -moz-border-radius: 5px;	
	    -ms-border-radius: 5px;	
	     -o-border-radius: 5px;	
	        border-radius: 5px;
}

.table td { padding: 1em; }

.table tr:not(:first-child):nth-child(odd)  { background-color: #ddd; }
.table tr:not(:first-child):nth-child(even) { background-color: #eee; }
.table tr:not(:first-child):hover           { background-color: #fff; }




.fondofijo {
-webkit-background-size:cover;
   -moz-background-size:cover;
    -ms-background-size:cover;
     -o-background-size:cover;
	    background-size:cover;
	
	background:transparent no-repeat center center fixed;
}















/*
  Enlaces
*/


.enlace:not(.boton),
.enlaces a:not(.boton) {
    font-weight:bold;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);    
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0px;
    transition: background-size 0.5s;
}

.enlaces a:not(.boton):hover,
.enlaces a:not(.boton):focus,
.enlace:not(.boton):hover, 
.enlace:not(.boton):focus {
    background-size: 100% 2px;
  
}

















/*
	formularios 
*/









.formulario {
	
  
}






.formulario input,
.formulario select, 
.formulario textarea {		
	border: 1px solid; 
}

.formulario input[type='number'] {	  
	padding-right: 0px ;	
}


.formulario select:focus, 
.formulario input:focus, 
.formulario textarea:focus {
	border-color:#66afe9;
}




















.formulario p,
.formulario label,
.formulario legend {  
  
  margin: 0em 0.5em; 
	vertical-align: middle;
}


.formulario legend {
  padding: 1em 20px;
}


.formulario label {
    
}


.formulario form {
	display: block;	  
	padding: 10px;
  
}










 .formulario input[type=checkbox] {
 -webkit-appearance: none;
    -moz-appearance: none;
     -ms-appearance: none;
      -o-appearance: none;
         appearance: none;
           
 background-color: transparent;
           border: none;
          display: inline-block;	 	    
   vertical-align: middle;

	 
 }

.formulario input[type=checkbox]:after { 
	transition: all 0.5s;
	
	content: "\2714"; 
	text-align: center;
	font-weight:bold;
	color: transparent;
	
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	
	background-color: #fff;
	border: 1px solid #999;
 }

 .formulario input[type=checkbox]:checked:after { 
	color: #090;
 }


 
 
 
 
 


.formulario  input[type=checkbox].interruptor { 	
	background-color: #aaa;
	width: 2.5em;
	
	-webkit-border-radius: 2em;	
	   -moz-border-radius: 2em;	
	    -ms-border-radius: 2em;	
	     -o-border-radius: 2em;	
	        border-radius: 2em;
}

.formulario input[type=checkbox].interruptor:checked {
	background-color: #295;
}
.formulario input[type=checkbox].interruptor:after { 
	content: " "; 	
	border: solid 1px #000;
	-webkit-border-radius: 2em;	
	   -moz-border-radius: 2em;	
	    -ms-border-radius: 2em;	
	     -o-border-radius: 2em;	
	        border-radius: 2em;
}

.formulario input[type=checkbox].interruptor:checked:after { 
	 margin-left: 1em;
	content: " "
}




.formulario .nota {		
	
	font-size  : 0.6em;
	margin     : 0em 1em;	
	font-family: verdana;
}



.formulario .columna {	
	vertical-align: middle;
}



.formulario.redondeado [type="checkbox"]:after,
.formulario.redondeado input,
.formulario.redondeado textarea,
.formulario.redondeado select,
.formulario.grande     * {  font-size: large; 	}
.formulario.redondeado * { 	
　　　 -webkit-border-radius: 0.25em;	
	   -moz-border-radius: 0.25em;	
	    -ms-border-radius: 0.25em;	
	     -o-border-radius: 0.25em;	
	        border-radius: 0.25em;

}





/* 
	varios
*/

.cita {
	border-left  : solid 5px;
	padding-left : 1em;
	font-style   : italic;
	
	-webkit-border-radius: 0px;	
	   -moz-border-radius: 0px;	
	    -ms-border-radius: 0px;	
	     -o-border-radius: 0px;	
	        border-radius: 0px;
}


/* animación */

.rotar {
	-webkit-animation: rotate 1s infinite;
	   -moz-animation: rotate 1s infinite;
	    -ms-animation: rotate 1s infinite;
	     -o-animation: rotate 1s infinite;
	        animation: rotate 1s infinite;
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	    -ms-animation-timing-function: linear;
	     -o-animation-timing-function: linear;
	        animation-timing-function: linear;
}
@keyframes rotate {
	0%, 100% { 
	-webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
	        transform: rotate(360deg); 
	}
	100% { 
	-webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
		    transform: rotate(0deg); 
		}
}





.cartel {	
	
	z-index: 9999;
	width: 100%;
	top: 40vh;	
	min-height: 3em;
	animation: cerrar 2s 1 ;
	animation-fill-mode:forwards;
	animation-delay: 5s;
	transition: all 2s;
	
}


@keyframes cerrar {
	transition: all 2s;
	0%, 100% { 
	 top: 0px;	
	  transform: scale(0) ;	
		transform: rotatex(-90deg);
		opacity: 0;
		height: 0px;
		min-height: 0px;
	}
	100% { 	
	  top: 0px;	
	  transform: scale(0) ;	
		transform: rotatex(-90deg);
		opacity: 0;
		height: 0px;
		min-height: 0px;
		}
}






/* 
   Movil 
*/


@media (max-width: 750px) { 	
	
	.fila,	
	.columna,
	.tabla,
	.tabla > *,
	.tabla > * > *
	{	display: block;	}
	
	.ocultable  { display: none; }
	
	.movil_centrado_unico > *,
	.movil_centrado  { text-align: center;}
	.movil_izquierda { text-align: left;  }
	.movil_derecha   { text-align: right; }
	
  
	.seccion,
	.cuerpo     { padding  : 1vw;	}
	.encabezado {	font-size: 2vw; }
	
	
	
h1, h2, h3, h4, h5 h6 {	
	padding    : 0.5em;
	font-size  : 1rem ;
}
	


	h1 { font-size: 1.25rem ;}
	h2 { font-size: 1.2rem  ;}
	h3 { font-size: 1.15rem ;}
	h4 { font-size: 1.1rem  ;}
	h5 { font-size: 1.05rem ;}
	h6 { font-size: 1rem    ;}
}


