

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Global 
/////////////////////////////////////////////////////////////////////*/


* {			
	font-family: 'calibri';
}



 h3 {	
	font-size: xx-large;
}








.encabezado {	
			
  font-style: italic;
}

.encabezado svg {
	display: inline-block;
	vertical-align: middle;
	max-width: 50px;
}


.encabezadofijo h1 {	
	color: white;
	display: inline-block;
	vertical-align: middle;
	font-size: xx-large;
	margin: 0px;
	text-indent: 0px;
	
}



.encabezadofijo h2 {

	
		
	margin: 0px;
	color: white;
	display: inline-block;
	
	margin-left: -3000px;
	font-size: small;		
}



.encabezadofijo {    
	position:fixed;
	background: black;
    padding: 0px 20px;
		
	
}


.encabezadocentrado h1 {
	text-align: center;
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'calibri';
	color: white;
	
	
	margin-top:30vh;
		
	
}


.encabezadocentrado h2 {
	
	
	
	visibility: visible;
	text-align: center;
	
	margin-bottom: 15px;
	
	font-family: 'calibri';
	color: white;
	
	
	
	
}



.encabezadocentrado {
	
	text-shadow: 1px 1px 3px black;
}








/*////////////////////////////////////////////////////////////////////////
//  portada
///////////////////////////////////////////////////////////////////////*/

.portada {	
	
	text-shadow: 1px 1px 3px black;   
	background: url(recursos/imagenes/header-bg.jpg) no-repeat center center;
	background-color: orange;  
	background-size: cover;
	
	height: 100vh;
	
}



.portada .subtitulo {
	font-size: 1.6em;
	color: rgba(255,255,255,.8);
	line-height: 1em;
	font-family: 'calibri';
	
    font-style: italic;
}




.portada .portadapie {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
	text-align: center;
}

.portada .portadapie a img {
    width: 50px;
}
.portada .portadapie a img {
    opacity: 0.7;
}
.portada .portadapie a img:hover {
    opacity: 1;
	width: 100px;
}




/*////////////////////////////////////////////////////////////////////////
//  estilos y fondos
///////////////////////////////////////////////////////////////////////*/





.contenido {
	background:transparent no-repeat center center fixed;	
	
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	margin:  0px;
	
	padding: 8vw;
	
}


.bloque {
	
}




/*////////////////////////////////////////////////////////////////////////
//  caracteristicas
///////////////////////////////////////////////////////////////////////*/


.caracteristicas {
	
	background-image: url(recursos/imagenes/traffic.jpg);
	background-color: lightslategrey;
	
	color: white;
	background-size: cover;
}


.caracteristicas h4 {
	color: whitesmoke;
	font-size: x-large;
	
}


.caracteristicas svg {
    height:  150px;
	max-width: 100%;
}




/*////////////////////////////////////////////////////////////////////////
//  capturas
///////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////
//   - descargas
///////////////////////////////////////////////////////////////////////*/


.descargas h4 {
	font-size: x-large;
}
.descarga .fecha {
    font-style: italic;
}




.descarga svg {
	height:  100px;
}

.descarga .fa-android {
	color: green;
}
.descarga .fa-server {
	color: black;
}

.descarga .fa-code {
	color: rebeccapurple;
}



/*////////////////////////////////////////////////////////////////////////
//  sesion
///////////////////////////////////////////////////////////////////////*/







.sesion {
	color: white;
	background-color: darkmagenta;
	min-height: 100vh;
	padding-top: 100px;
}

.sesion svg {	
	height: 200px;
	fill: white;
}









/* descripcion */

.descripcion {
	background-image: url(recursos/imagenes/blue_mac2.jpg);
	background-color: grey;
	color: white;		
}

.descripcion p {
	text-align: justify;
}





.donacion .columna {
	vertical-align: middle;
}

.donacion .ocultable svg {
	height: 50px;
}




/*////////////////////////////////////////////////////////////////////////
//  pie
///////////////////////////////////////////////////////////////////////*/


.pie {
	background: #2B3E51;
	color: white;	
}

 .pie .idiomas {
   display: inline-block;
	 vertical-align: top;
	 text-align: right;
	 float: right;
  }

.pie .pieinfo {
	display: inline-block;
	vertical-align: top;
	
	
}
.pie .pieinfo p {
	margin: 5px;
}









/*////////////////////////////////////////////////////////////////////////
//  fin
///////////////////////////////////////////////////////////////////////*/















/*////////////////////////////////////////////////////////////////////////
//  03 - menu
///////////////////////////////////////////////////////////////////////*/





.botonabrirmenu {
	position: fixed;
  right: 20px;
	top: 20px;
	z-index: 5000;
	width: 30px;
	height: 30px;
}

.botoncerrarmenu {
		
	display: block;
	text-align: right;
	margin: 15px 0px;
}




.menulista nav {
	padding: 0px 20px;
}

.menulista {
	 background: #1B3E51;
	  position: fixed;
    
    z-index: 5999;
	font-size: x-large;
	
	top: 0px;
	
	right: 0px;
	max-height: 100vh;
	overflow-y: auto;
	
	
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;

	
}

.menulista ul {
	list-style: none;
	padding: 0px;
	
	
}

.menulista li > a  {		
	display: block;
	border:1px solid #1B3E51;
	border-radius:10px;
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	padding: 0.4em 0.5em;
}

.menulista  li > a:hover { 	
  border-color: #fff;
}

/*
.menulista  li > a:hover > svg { 
fill: yellow
}
*/



.menulista svg {
	height: 1.5em;
	vertical-align: middle;
	display: inline-block;
	width: 2em;
	fill: white;
	margin-right: 0.5em;	
	
}




 .idiomas a img:hover {
	box-shadow: 0px 0px 4px white;
}

/* banderitas*/
.idiomas img {
	height: 30px;
	vertical-align: middle;
}

.idiomas a {
	
	padding: 5px;
}





.menuoculto {
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;

	
	right: -500px;
	transform:rotatez(180deg);
	opacity: 0;
		
}

.menuvisible {
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;

	
}








/*////////////////////////////////////////////////////////////////////////
//  ayuda
///////////////////////////////////////////////////////////////////////*/

.portadaayuda{	
	position: relative;
	padding: 0 !important;
	
	text-shadow: 1px 1px 3px black;
    
	
	background: url(recursos/imagenes/header-bg.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	
	width: 100%;
	
	z-index: 1;
	overflow-x: hidden; 

	
}

.portadaayuda h2 {
	color: white;
	margin-bottom: 50px;
	font-size: xx-large;
	
}


.encabezadonormal {
  
  position:relative;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;	
	transition: all 1s;		
	text-shadow: 1px 1px 3px black;
    font-style: italic;
  

}


.encabezadonormal h1 {
  
	color: white;
	display: inline-block;
	vertical-align: middle;
		z-index: 500;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;	
	font-size: xx-large;
}

.encabezadonormal svg {
  
  display: inline-block;
	vertical-align: middle;
  width: 3em;
	margin: 1em;
}



.encabezadonormal span {
  
  
  
}

.encabezadonormal a {
  
  text-decoration: none;
  
  background-color: red;
  font-size:x-large;
  color: white;
  
  padding-top: 5px;
    padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
  border-radius: 10px;
  display: block;
  
  
}




.panel {
  
  border-radius: 5px;
  background-color: wheat;  
}






.acercadeaplicacion {
	background-image: url(recursos/imagenes/traffic.jpg);
	
	background-size: cover;
	
}

.acercadeaplicacion h3 {
	color: #fff;
}
.acercadeaplicacion .panel {
	background-color: #aaaaea;
}

.acercadeservidor {
	background-image: url(recursos/imagenes/blue_mac2.jpg);	
}

.creditos {
	
	background-size: cover;
	background-image: url(recursos/imagenes/header-bg.jpg);
}

.creditos h3 {
	color: white;
}
.creditos .panel {
	background-color: #6aaa6a;
}




.cuerpo h3 {
	font-size: xx-large;
}

.cuerpo {
	padding: 0px;
}







.boton svg { 
  height: 1.5em;
  margin-right: .5em;
  vertical-align: middle;
}





.sesion 
.formulario 
input:not([type="submit"]):not([type="checkbox"])
 {
	border-color: #fff;	
	max-width: 400px;
	width: 100%;
	background-color: transparent;
	color: #fff;
	 
}


.sesion .formulario input[type=text] ,
.sesion .formulario input[type=password] {	
	background-size:1.3em;
	background-repeat: no-repeat;
	background-position-y:center;
	background-position-x: .6em;
	text-indent: 1.3em;
}

.sesion .formulario input[type=password] {
  background-image: url(recursos/svg/key.svg) ;
}

.sesion .formulario input[type=text] {
	background-image: url(recursos/svg/user.svg) ;	
}



.hacer svg {
	max-width: 300px;
}

.hacer .columna {
	vertical-align: middle;
}

.hacer {
	background-image: url(recursos/imagenes/header-bg.jpg) ;
	
	color: #fff;
	font-size:larger;	
}

.hacer h3   ,
.hacer header + div  {
	background-color: #0005;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 2px;
}

.hacer .bloque {
	padding: 0px;
	margin: 0px;
}


img[height="80"] {
	max-height: 80px;
	width: auto;
	height: auto;
}