



	

.formulario {
  
}

.formulario input {
	
	box-sizing: border-box;
	color: #777;
	margin: 10px;
	font-size: large;
	border:1px solid #ccc;

box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
background: transparent;
  padding: 10px;
	
}


.formulario input[type=text], 
.formulario input[type=password] {
	
	
	
  border-radius:10px;	
	width: 90%;
	max-width: 600px;	
  display: inline-block;
  
}


.formulario input[type=submit] {
	border-radius:0px;
	display: inline-block;
	
	
}



.formulario input:focus{border-color:#66afe9;}



.formulario input[type=submit]:hover {
	background-color: white;
	color: #999;

}

.formulario label {
  display: inline-block;
  margin-top: 10px;  
  vertical-align: middle;
}


.formulario form {
  border: solid 1px #bbb;
  
}






.formulario legend {
  padding: 15px;
  font-size: large;
}






 .formulario input[type=checkbox] {
 
 -moz-appearance: none;
 -webkit-appearance: none;
  appearance: none;
     
   vertical-align: middle;
   margin: 20px;
   padding: 0px;
   background-color: transparent;
   border: none;
   display: inline-block     
   
 }

 .formulario input[type=checkbox]:after { 
   
   display: inline-block;
   content: " ";

 
 background-color: #fff;
 border: 1px solid #999;
 color: #090;
 
 visibility: visible;

 border-radius: 5px;
   text-align: center;
   width: 30px;
   height: 30px;
   font-size: x-large
     
 }

 .formulario input[type=checkbox]:checked:after { 
  content: "\2714"; 
 }



.formulario input:active {
  box-shadow: 2px 2px 2px #009;
}


.rojo {
  
  text-decoration: none;
  
  background-color: red;
  font-size:x-large;
  color: white;
  
  padding-top: 5px;
    padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px;
  border-radius: 10px;    
  text-align: center;
}


