



@media (max-width: 600px) { 
  
  
  



.mapa {
  
  width: 100%;
  height: 50vh;

}

  
  
  
  .encabezado {
    padding: 0px;
    height: auto;
    font-size: x-small;
  }
  

 .encabezado svg {
  
  

   
  

}

  .encabezado h1 {
    
  }

  
  .encabezado a {
    min-width: 3.5em;
   width: 10vw;
    padding: 5px 10px;
    
  }
   
  
  
  

  .contenido {
    padding: 5px;
    
  }
  
  .bloque {
    
    padding: 5px;
  }
  
  .encabezadocentrado h1 {
    margin-top:20vh;
  }
 
  .item {
    margin: 5px;

  }
  
  
  
  
  
  .sesion {
    
    
  }
  


  .caracteristica svg {
    
    max-height: 80px;
  }
  
  
  .descarga {
    background-color: #eee;
    border-radius: 10px;
    margin: 50px 10px;
  }
 




  
  
.table {
  display: block;
  width: 100%;
  height: auto;
  overflow-y:auto;
  
}
  
.fila {
	
  display: block;
}
  
.columna  {
    display: block;
    margin-top: 10px;
  
}
  
  .tabla {
    display: block;
  }
  
  
  .amazon {
    
    display: none;
  }
  

  .ocultable {
    
    display: none;
  }
  
  .tabla th  {
    padding: 2px !important;
  }
  
}


