
body {
  margin: 0px;
  background-color: #f5f5f5;
 
}


.encabezado {
  
  color: white;
  
  display: table;
 
  
  vertical-align: middle;
  padding: 0px 10px;
  background-color: black;

  
}


.encabezado h1 {
  
  
  font-style: italic;
  
  display: table-cell;
  
  vertical-align: middle;
  width:100% ;
  text-shadow: 1px 1px 3px black;
  text-indent: 0px;
}




.encabezado span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  
  
}

.encabezado span:nth-child(2) {
  width: 100%;
}

.encabezado a {
      
  border: solid 1px #555;
  
  color: white;
  
  
  margin: 2px;
  border-radius: 10px;
  display: inline-block;
  
  
  
  padding: .5em 1em;
  
  
}

.encabezado a svg {
  height:  2em;  
}




.mapa {
  
  height: 80vh;     
  height: calc(100vh - 6em );
}










.icono svg {
  display: inline-block;
  vertical-align: middle;
  
  height: 3em;
  
  
}








footer {
  text-align: center;
  font-size: small;
}















.tabla {
  border-spacing: 0px;  
  font-family: calibri;
}

.columna {
  padding: 3px;
}




.formulario label {
  display: block;
}





.formulario form {
  margin: 1px 10px;
  padding: 5px;
      
}


 
.formulario * {
 
}





